graft polling-bot

include LICENSE
include README.md
include CONTRIBUTING.md

include .bumpversion.cfg
include pyproject.toml
include Makefile

prune .github
exclude .gitignore
exclude .gitattributes
exclude .env

recursive-exclude docs *.bat
recursive-exclude docs *.gif
recursive-exclude docs *.png
recursive-exclude docs *.py
recursive-exclude docs *.rst
recursive-exclude docs Makefile

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
